@use '../util' as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  width: min(100% - u.rem(40), u.rem(1000));
  margin-inline: auto;
  font-size: 2em;

  @include u.breakpoint-up(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    // apply "blue color" less than 700px
    background-color: hsl(240, 99%, 33%);

    /* @include u.breakpoint(medium) {
      // apply "green color" over than 700px and less than 900px
      background-color: hsl(120, 100%, 25%);
    } */

    @include u.breakpoint-up(large) {
      // apply "orange color" over than 900px
      background-color: hsl(39, 100%, 50%);
    }

    // reversed order - to check cascading
    // In this case, the background-color is applied only green color!
    // Not applied orange color no more! => this is cascading effect!
    @include u.breakpoint-up(medium) {
      // apply "green color" over than 700px
      background-color: hsl(120, 100%, 25%);
    }
  }

  &__sidebar {
    background-color: hsl(300, 100%, 30%);
    // apply "text-align: center" less than "width: 900px"
    text-align: center;

    /* @include u.breakpoint(large) {
      // apply "text-align: left" over than "width: 900px"
      text-align: left;
    } */

    /* @media (min-width: 56.25em) {
      text-align: left;
    } */

    @include u.breakpoint-down(medium) {
      // apply "text-align: right" less than "width: 899.98px"
      text-align: right;
    }

    /* @media (max-width: 56.24875em) {
      text-align: right;
    } */
  }
}
